
<h1>Decont special</h1>
        <formly-form [model]="user" [fields]="userFields"></formly-form>
        
        <div *ngFor="let row of achizitiiBunuriTaxabile; let i = index">
        
                
               
                <input type="text" [value]="achizitiiBunuriTaxabile[i].nr_doc" (input)="achizitiiBunuriTaxabile[i].nr_doc = $event.target.value">
                <input type="text" [value]="achizitiiBunuriTaxabile[i].data_doc" (input)="achizitiiBunuriTaxabile[i].data_doc = $event.target.value">
                <input type="text" [value]="achizitiiBunuriTaxabile[i].val_valuta" (input)="achizitiiBunuriTaxabile[i].val_valuta = $event.target.value">
                <input type="text" [value]="achizitiiBunuriTaxabile[i].tip_valuta" (input)="achizitiiBunuriTaxabile[i].tip_valuta = $event.target.value">
                <input type="text" [value]="achizitiiBunuriTaxabile[i].curs_valutar" (input)="achizitiiBunuriTaxabile[i].curs_valutar = $event.target.value">
                <input type="text" [value]="achizitiiBunuriTaxabile[i].baza" (input)="achizitiiBunuriTaxabile[i].baza = $event.target.value">
                <input type="text" [value]="achizitiiBunuriTaxabile[i].tva" (input)="achizitiiBunuriTaxabile[i].tva = $event.target.value">

        </div>
          <button type="submit" class="btn btn-primary" (click)="addAchizitie()" >Add</button>
                <div>    <button type="submit" class="btn btn-primary" (click)="postProcess()" >Generare</button></div>
        <div>
                 <a type="submit" *ngIf="pdfId" href="{{dService.theUrl}}/download/{{pdfId}}" class="btn btn-primary" >Download Pdf</a>
            </div>

        {{response | json}}

        <!--{{user|json}}-->