<div class="row centertext">
    <h1 class="col-xs-12">220</h1>
    <h2 class="col-xs-12">Declaratie privind venitul estimat / norma de venit</h2>
    <hr />
</div>
<div>
    <formly-form [model]="data" [fields]="fields"></formly-form>
</div>
<div class="row">
    <hr />
    <div class="col-xs-12">
        <button (click)="postProcess()" class="btn btn-primary">{{butonGenerare}}</button>
        <a role="button" *ngIf="pdfId" href="{{dService.theUrl}}/download/{{pdfId}}" class="btn btn-success">Download Pdf</a>
    </div>
    <div class="loading col-xs-12" *ngIf="loading">Se incarca...</div>
    <div *ngIf="response" class="col-xs-12">
        <h3>Raspuns:</h3>
        <pre>{{response|json}}</pre>
    </div>
</div>
